<section class="bg-white" id="activities">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ACTIVITIES</h2>
                <hr class="primary">
                <p style="text-align: left; margin-bottom:0;"><b>Student Council Student Representative Officer</b></p>
                <p style="text-align:left; margin-bottom:0;">September 2019 - present</p><hr class="dark" style="margin-left: 0;">
                <p style="text-align:left; margin-bottom:5">One of sixteen elected officers schoolwide who meet several times a week to plan important school events such as class socials, prom, homecoming, teacher appreciation, etc.
                    Student representatives represent the class body and broadcast class announcements, promoting community involvement.</p>
            </div>
        </div>
    </div>
</section>
