<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ABOUT ME</h2>
                <hr class="light">
                <p class="text-faded">Hello! I'm a high school sophomore interested in all things STEM, more specifically computer science and mathematics.</p>
                <p class="text-faded">I love promoting computer science  💻 to the community — in fact, one of the causes I'm most
                    passionate about is empowering women and non-binary individuals in the fields of STEM, in hopes of bridging the gender gap.
                    I also love to get involved in the community — I'm currently one of sixteen elected student council officers school-wide, among many other things.
                </p>
                <p class="text-faded">In my free time, I enjoy playing the cello, puzzling out fun math problems, and (attempting) to play tennis!</p>
            </div>
        </div>
    </div>
</section>
