<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Julia Ding</h1>
            <hr>
            <p>Welcome — great to see that you've made it here! 👋 I'm currently a high school student
                at the <a href="https://sites.google.com/lasahighschool.org/lasa">Liberal Arts and Science Academy</a>. Feel free to browse around for more details!</p>
            <a href="#about" class="btn btn-default btn-xl wow tada page-scroll">About Me</a>
        </div>
    </div>
</header>
